[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NNbenchmark"]
	path = NNbenchmark
	url = https://github.com/pkr-pkr/nnbenchmark
